.profile-title {
  font-size: 60px;
}
.my-contracts {
  font-size: 30px;
}
.profile-banner {
  /* Image from https://unsplash.com/photos/DJ7bWa-Gwks */
  background: url('../../../public/img/profile-banner.jpg') no-repeat center
    center/cover;
  height: 50vh;
  width: 100vw;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .contracts-container {
  margin: 1.5rem;
  border: 1px solid #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
